@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,500;14..32,600&family=Poppins:wght@600&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-red-350: #f8716f;
}

body {
  @apply bg-slate-950;
}
